# Mão na massa

In [6]:
# Exercício 1
eh_multiplo_dez = lambda n: (n%10) == 0
eh_multiplo_dez(20)

True

In [7]:
def e_multiplo_dez (n):
    return (n%10) == 0

In [9]:
e_multiplo_dez(2)

False

In [1]:
# Exercício 2
def fatorial (n):
    produto=1
    for i in range(1,n+1):
        produto*=i #protudo=produto*i
    if n==0:produto=1
    return produto

In [2]:
numero=int(input('Digite um número inteiro: '))
fato=fatorial(numero)

In [3]:
print(fato)

720

In [12]:
# Exercício 4
def primeiro_nome(nome_completo):
    nome_1=nome_completo.split(' ')[1]
    return nome_1

In [5]:
primeiro_nome('Gabriel Rodrigues')

'Gabriel'

In [11]:
lista=['Gabriel','Rodrigues']
lista[2]

IndexError: list index out of range

In [13]:
nomes=['João Carlos', 'Maria Eduarda', 'Ana Rute', 'Ana Clara', 'Claudia']
list(map(primeiro_nome, nomes))

IndexError: list index out of range

In [14]:
# Exercício 6
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [15]:
def dia_semana (data_br):
    from datetime import datetime as dt
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    data_py=dt.strptime(data_br, '%d/%m/%Y')
    dia_semana=data_py.weekday()
    return days[dia_semana]

In [16]:
def dia_semana_2 (data_br):
    from datetime import datetime as dt
    data_py=dt.strptime(data_br, '%d/%m/%Y')
    return data_py.strftime('%A')

In [17]:
dia_semana('24/10/2024')

'Thursday'

In [18]:
dia_semana_2('24/10/2024')

'Thursday'